<% provide :title, "Chat App" %>
<div class="room-chat">
  <%= render "layouts/left_menu" %>
  <div class="right-menu">
    <div class="title">
      Name of chat room
    </div>
    <div class="content">
      <h1>Welcome to Bootstrap 4</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et,
         distinctio perspiciatis, fuga minus facilis ea quae qui laborum
         cupiditate accusamus.
      </p>
      <button class="btn btn-primary">Button</button>
    </div>
    <div class="content-input">
      nhap noi dung
    </div>
  </div>
</div>
