<div class="message me">
  <div class="text-main">
    <div class="text-group me">
      <div class="text me">
        <p><%= message.content %></p>
      </div>
    </div>
    <span><%= message.created_at.strftime("%I:%M %p") %></span>
  </div>
</div>
