<div class="item">
  <%= form_for current_user.list_relationships.find_by(status_request: "Accepted"), method: :delete, remote: true do |f| %>
    <%= f.hidden_field :friend_id, value: @user.id %>
    <%= f.submit "Unfriend", class: "btn button" %>
  <% end %>
</div>
<%= render "users/block" %>
