<% flash.each do |message_type, message| %>
  <% [:notice, :error, :alert, :success, :danger].each do |level| %>
    <% if flash[level].present? %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
  <% end %>
<% end %>
