.requests{
  .profile{
    margin: 15px 0;
  };
  background-color: #dbd7d7 !important;
  .title{
    background-color: #c0c0c0 !important
  }
  .item a{
    float: left;
    margin: 0 8px;
    width: 45%;
    font-size: 12px;
  }
}
