.requests{
  .profile{
    margin: 15px 0;
  };
  background-color: #dbd7d7 !important;
  .title{
    background-color: #c0c0c0 !important
  }
  .item{
    float: left;
    margin: 0 8px;
    width: 45%;
    input{
      font-size: 12px;
    }
  }
}

#list-user-group {
  background: white
}

a.btn {
  border-radius: 0;
}

#edit {
  background-color: #ffc107;
  padding: 5px 6px;
  color: white;
  font-size: 12px;
}

#delete {
  background-color: #d9534f;
  border-color: #d43f3a;
  padding: 5px 6px;
  color: white;
  font-size: 12px;
}
.scrollit {
    overflow: scroll;
    max-height: 300px;
}
