<div class="main">
  <div class="tab-content" id="nav-tabContent">
    <div class="babble tab-pane fade active show" id="list-chat" role="tabpanel" aria-labelledby="list-chat-list">
      <div class="chat" id="chat1">
        <div style="align-items: center; height: 500px; width: 550px; margin: 0 auto">
          <div style="text-align: center; margin-top: 250px; font-size: 40px; color: rgb(34, 34, 34)">Welcome to IChat!</div>
          <div style="text-align: center; font-size: 20px; color: rgb(34, 34, 34)">Khám phá những tiện ích hỗ trợ làm việc và trò chuyện cùng người thân, bạn bè được tối ưu hoá cho máy tính của bạn.</div>
        </div>
      </div>
    </div>
  </div>
</div>
