<footer>
  <div class="copyright">
    © 2017 By Framgia - Human Development Division - Education Section - All rights reserved.<br/>
    FGAS Team
  </div>
  <div class="clearfix">
  </div>
</footer>
